#game{
    position: absolute;
    background-color: rgb(15, 15, 15);
    margin: 0;
    z-index: 1;
}
html,body,head{
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
#ng, #lgsave, #lgfile, #settings {
    background-color: rgb(60,60,60);
    width: 22.5vmin;
    height: 7vmin;
    border-radius: 2vmin;
    position: absolute;
    border: none;
    color: rgb(240, 240, 240);
    font-size: 4vmin;
    padding: 0;
    translate: -50% 0;
    left: 50%;
    z-index: 2;
}
#ng {
    top: 50%;
}
#lgsave {
    top: calc(50% + 9.5vmin);
}
#lgfile {
    top: calc(50% + 19vmin);
}
#settings {
    top: calc(50% + 28.5vmin);
}
* {
    user-select: none;
    -webkit-user-select: none;
    font-family: monospace;
}
.toggle {
    height: 3vmin;
    top: 1.5vmin;
    z-index: 3;
    padding: 0;
    margin: 0;
    position: absolute;
}
#menutitle {
    font-size: 15vmin;
    position: absolute;
    color: rgb(240,240,240);
    font-weight: bold;
    top: 50%;
    left: 50%;
    translate: -50% calc(-100% - 2.5vmin);
    padding: 0;
    margin: 0;
}
#loadfile {
    display: none;
}
#loading {
    color: rgb(240,240,240);
    font-size: 4vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    translate: -50% 2.5vmin;
}
#gamebar, #buildbar {
    position: absolute;
    top: calc(100% - 1vmin);
    left: 50%;
    translate: -50% -100%;
    background-color: rgb(60,60,60);
    border-radius: 2.5vmin;
    height: 11vmin;
    max-width: 98vmin;
    overflow-x: scroll;
    overflow-y: hidden;
}
.gbitem, .bitem {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    width: 9vmin;
    height: 9vmin;
    background-color: rgb(40,40,40);
    border-radius: 2.5vmin;
}
#stats {
    position: absolute;
}
.statitem {
    color: rgb(240,240,240);
    float: left;
    width: 100%;
    font-size: 3vmin;
    z-index: -1;
}
#fps {
    color: rgb(240,240,240);
    text-align: right;
    width: 100%;
    position: absolute;
    font-size: 2vmin;
}
.gbitem > img, .bitem > img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin: 5%;
}
#version {
    color: rgb(240,240,240);
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 2vmin;
}
#buildstats {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.bstat {
    color: rgb(240,240,240);
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 3vmin;
}
.disabled {
    opacity: 0.3;
}
#upgui {
    position: absolute;
    width: calc(100% - 2vmin);
    height: calc(100% - 2vmin);
    background-color: rgb(60,60,60);
    top: 1vmin;
    left: 1vmin;
    border-radius: 2.5vmin;
    z-index: 5;
    display: none;
}
#upgname {
    color: rgb(240,240,240);
    font-size: 5vmin;
    width: calc(60% - 4vmin);
    text-align: left;
    position: absolute;
    padding: 2vmin;
}
#upgdesc {
    color: rgb(240,240,240);
    font-size: 2.5vmin;
    width: calc(60% - 4vmin);
    top: 5vmin;
    position: absolute;
    text-align: left;
    padding: 2vmin;
}
.ustat {
    width: calc(40% - 4vmin);
    right: 2vmin;
    position: absolute;
    float: right;
    text-align: left;
    padding: 0;
    margin: 0;
    translate: 0 2vmin;
    font-size: 2.5vmin;
    color: rgb(240,240,240);
}